{{>yourdashboard-header}}
<main id="homepage_background" class="d-flex flex-column gap-4 flex-no-wrap">
    <div id="yourPostsContainer" class="d-flex flex-column gap-3">
        <div class="d-flex justify-content-between">
            <h3>Object-Relational Mapping</h3>
            <h3>5/8/2020</h3>
        </div>
    </div>
    <button id="createPostButton">+ New Post</button>
</main>